<!DOCTYPE html>
<html lang="en">
<% include ./part/header %>

<head>
    <% include ./part/head %>
</head>

<body id="page-top" class="bg-secondary">
    <% include ./part/nav %>

    <% include ./part/searchId_content %>
    <hr>

    <% include ./part/bookmark %>

    <% include ./part/footer %>
</body>

</html>
